on:
  push:
    branches:
      - main
  pull_request:
jobs:
  TAPLO:
    name: Taplo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/install@v0.1
        with:
          crate: taplo-cli
          version: latest
      - run: |
          echo "Linting with Taplo"
          taplo fmt --check
